div.search {
	padding-top: 40px;
	text-align: center;
}

div.search h1 {
	font-size: 400%;
}

div.search div.error {
	color: red;
}

div.search div.tags {
	font-size: 80%;
}

div.search div.tags h1 {
	display: inline;
	font-size: 100%;
}

div.search div.tags ul {
	margin: 0px;
	padding: 0px;
	display: inline;
}

div.search div.tags li {
	display: inline;
	padding-left: 5px;
}
