div.remove_form {
	text-align: center;
}

div.fileinfo table {
	display: inline-block;
}

div.fileinfo th {
	text-align: right;
}

div.fileinfo td {
	text-align: left;
	padding-left: 10px;
}

div.removed {
	text-align: center;
}
