div.search_box {
	padding-top: 40px;
	text-align: center;
}

div.search_box h1 {
	font-size: 400%;
}

div.search_box div.error {
	color: red;
}

div.search_box table {
	display: inline-block;
}

div.search_box th {
	text-align: right;
}

div.search_box td {
	text-align: left;
	padding-left: 10px;
}

div.search_box div.tags {
	font-size: 80%;
}

div.search_box div.tags h1 {
	display: inline;
	font-size: 100%;
}

div.search_box div.tags ul {
	margin: 0px;
	padding: 0px;
	display: inline;
}

div.search_box div.tags li {
	display: inline;
	padding-left: 5px;
}

div.search_result h1 {
	font-size: 100%;
}

div.search_result h2 {
	font-size: 100%;
}

div.search_result h3 {
	font-size: 80%;
	font-family: monospace;
}

div.search_result th {
	text-align: right;
}

div.search_result td {
	text-align: left;
	padding-left: 10px;
}

div.search_result div.fileinfo {
	clear: both;
}

div.search_result div.fileinfo+div.fileinfo {
	padding-top: 10px;
}

div.search_result div.fileinfo table {
	float: left;
}

div.search_result div.fileinfo div.actions {
	text-align: right;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

div.search_result div.fileinfo div.actions li {
	display: block;
	padding: 5px;
	margin: 0px;
}

div.download_box {
	float: right;
	width: 70%;
	margin: 0px 0px 10px 10px;
	padding: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	font-size: 70%;
	background-color: #FFD39B;
}
