div.search_box input {
	vertical-align: top;
}

div.search_box table {
	display: inline-block;
}

div.search_box th {
	text-align: right;
}

div.search_box td {
	text-align: left;
	padding-left: 10px;
}
