div.smallfileinfo {
	border-color: orange;
	border-width: 1px;
	border-style: solid;
	min-height: 48px;
	clear: both;
}

div.smallfileinfo + div.smallfileinfo {
	margin-top: 5px;
}

div.smallfileinfo div {
	display: table-cell;
	vertical-align: top;
}

div.smallfileinfo div.namesizetime {
	font-size: 60%;
	padding: 0px 0px 5px 5px;
}

div.smallfileinfo div.namesizetime h1 {
	margin: 0px;
	padding: 5px;
	font-size: 180%;
}

div.smallfileinfo div.tags {
	width: 100%;
	padding: 5px 0px 5px 5px;
}

div.smallfileinfo div.info {
	padding: 8px;
}

