body {
	background-color: #F5F5DC;
	color: black;
	margin: 0px;
	padding: 10px;
	text-align: left;
}

a {
	text-decoration: none;
	color: #8B2323;
}

img {
	border-width: 0px;
}

h1 {
	font-size: 120%;
}

h1 a {
	color: black;
}

div.head {
	padding: 1px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-color: #FFD39B;
}

div.head h1 {
	margin: 0px;
	padding: 0px;
	font-size: 150%;
}

div.head div.search {
	float :right;
	font-size: 80%;
	padding: 3px;
}

div.head div.search form {
	display: inline;
}

div.head div.search form input {
	font-size: 50%;
}

div.head ul {
	padding: 0px;
	margin: 10px 0px 0px 0px;
}

div.head li {
	display: inline;
}

div.head li+li {
	margin-left: 10px;
}

div.license {
	font-size: 80%;
	text-align: left;
	padding: 1px 10% 1px 10%;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-color: #FFD39B;
}

div.license img {
	float: left;
	margin-right: 10px;
}
