div.search_box {
	padding-top: 40px;
	text-align: center;
}

div.search_box h1 {
	font-size: 400%;
}

div.search_box div.error {
	color: red;
}

div.search_box table {
	display: inline-block;
}

div.search_box th {
	text-align: right;
}

div.search_box td {
	text-align: left;
	padding-left: 10px;
}

div.search_box div.tags {
	font-size: 80%;
}

div.search_box div.tags h1 {
	display: inline;
	font-size: 100%;
}

div.search_box div.tags ul {
	margin: 0px;
	padding: 0px;
	display: inline;
}

div.search_box div.tags li {
	display: inline;
	padding-left: 5px;
}

div.search_result h1 {
	font-size: 100%;
}

div.search_result h2 {
	font-size: 100%;
}

div.search_result h3 {
	font-size: 80%;
	font-variant: monospace;
}

div.search_result th {
	text-align: right;
}

div.search_result td {
	text-align: left;
	padding-left: 10px;
}

div.search_result div.fileinfo table {
	display: inline-block;
}

div.search_result div.fileinfo div.actions {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	width: 20%;
}
